@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');


body {
    column-gap: 20px;
}

h1 {
    font-family: Helvetica;
    font-weight:700;
    font-stretch:expanded;
}
h2 {
    font-family: Helvetica;
    font-weight:700;
    font-stretch:expanded;
}

label {
    font-family: Helvetica;
    font-weight:700;
    font-stretch:expanded;
    margin-left: 5%;  
}

#headDiv {
    padding-bottom: 50px;
    border-bottom: 3px solid black;
}

#headDiv h1 {
    font-size: 40px;
    position: relative;
    top: 15px;
    left: 15%;
    right: 85%;
}

#navDiv {
    padding-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
#navBar li {
    font-family: Helvetica;
    float: left;
    list-style-type: none;
    width: 33.3%;
}

#navBar button {
    font-family: Helvetica;
    font-weight:bolder;
    border-style: none;
    background-color: red;
    
}

#navBar button:hover {
    background-color: rgb(255, 125, 125);
}

#navBar button:active {
    background-color: rgb(252, 129, 47);
}

#col1Heading {
    font-family: Helvetica;
    font-size:30px;
    margin-left: 25px;
    margin-right: 10px;
}

#column1 {
    display:block;
    height:800px;
    width: 50%;
    float:left;
}

#col1forms {
    margin-left: 50px;
    margin-right: 10px;
}

.formboxes1 {
    margin-bottom: 40px;
}

#column2 {
    display:block;
    height: 800px;
    width: 50%;
    float: right;
}

#column2background {
    background-size: cover;
    background-image: url(../Final-Project-files/invite1.jpg);
    height: 700px;
    width: 600px;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color:rgb(198, 237, 255)
}

.col2divs {
    position:relative;
    top: 40px;
}


#firstNameDiv {
    height: 40px;
    position: relative;
    top: 140px;
    text-align: center;
}

#andDiv {
    height: 20px;
    position: relative;
    top: 90px;
}

#secondNameDiv {
    height: 40px;
    position: relative;
    top: 50px;
}

#dateDiv {
    position: relative;
    top: 100px;
}

#locationDiv {
    position: relative;
    top: 100px;
}

#firstNameP {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 75px;
    color:rgb(255, 190, 116);
    text-shadow: 3px 2px rgb(97, 82, 0);
    
}

#andP {
    position: relative;
    text-align: center;
    font-family: "Dancing Script";
    font-size: 65px;
    color:rgb(255, 190, 116);
    text-shadow: 3px 2px rgb(97, 82, 0);    
}

#secondNameP {
    text-align: center;
    font-family: "Dancing Script";
    font-size: 75px;
    color:rgb(255, 190, 116);
    text-shadow: 3px 2px rgb(97, 82, 0);
    
}
#dateP {
    text-align: center;
    font-size: 30px;
    font-family: "Dancing Script";
    height: 40px;
    color:rgb(255, 190, 116);
    
}
#locationP {
    text-align: center;
    font-size: 30px;
    font-family: "Dancing Script";
    height: 40px;
    color:rgb(255, 190, 116);
    
}

#firstNameCopy {
    font-family: Verdana;
    font-size: 20px;
}
